* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:black;

}

.f1 {
  font-family: "Times New Roman", Times, serif;
}

.f2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #803bec;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a2be2;
}

body{
  display: flex;
  flex-direction: column;
  background: black ;
}
